$orange: #f59100;
$orange2: #fe7722;
$orange3: #FB7621;
$orange4: #F8631E;
$orange5: #FFF3E2;
$red: #E23A18;
$yellow: #FBB040;
$yellow2: #F59125; 
$yellow3: #FFC630;
$yellow4: #F3BF33;
$gray: #62575D;
$white: #FFFFFF;

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$theme-colors: (
    'orange': $orange,
    'orange2': $orange2,
    'orange3': $orange3,
    'orange4': $orange4,
    'orange5': $orange5,
    'red': $red,
    'yellow': $yellow,
    'yellow2': $yellow2,
    'yellow3': $yellow3,
    'yellow4': $yellow4,
    'gray': $gray,
    'white': $white,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

// @import "node_modules/wowjs/css/libs/animate";
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('https://ouzzi.ag/assets/landing-page/up-brasil/fonts/HelveticaNeueLTStd.woff2') format('woff2'),
        url('https://ouzzi.ag/assets/landing-page/up-brasil/fonts/HelveticaNeueLTStd.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('https://ouzzi.ag/assets/landing-page/up-brasil/fonts/HelveticaNeueLTStd-Bold.woff2') format('woff2'),
        url('https://ouzzi.ag/assets/landing-page/up-brasil/fonts/HelveticaNeueLTStd-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// editar-fonte
$sizes: 10, 12, 14, 15, 16, 18, 20, 22, 30, 32, 40, 42;
@each $size in $sizes {
    .font-#{$size} {
        font-size: $size + px;
    }
}

@each $size in $sizes {
    @include media-breakpoint-up(md) {
        .font-md-#{$size} {
            font-size: $size + px;
        }
    }
}

@each $size in $sizes {
    @include media-breakpoint-up(lg) {
        .font-lg-#{$size} {
            font-size: $size + px;
        }
    }
}

.font-w700,
b, strong {
    font-weight: 700;
}

* {
    a:hover {
        text-decoration: none;
    }
    &:focus {
        outline: 0 !important;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: $gray;
    font-family: 'Helvetica Neue LT Std', sans-serif;
    font-size: 12px;

    @include media-breakpoint-up(md) {
        font-size: 16px;
    }
}

a > img {
    pointer-events: none;
}

.nowrap {
    white-space: nowrap;
}

.underline {
    text-decoration: underline!important;
}

.d-contents {
    display: contents;
}

.anchor-link {
    pointer-events: none;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -53px;
    z-index: -1;

    @include media-breakpoint-up(xl) {
        top: -109px;
    }
}

.navbar {
    background: $orange4;
    z-index: 1000!important;

    @include media-breakpoint-up(xl) {
        background: $white;
    }
    
    .navbar-brand {
        max-width: 144px;

        @include media-breakpoint-up(xl) {
            max-width: unset;
        }
    }

    .nav-link {
        color: $gray;
        font-size: 16px;

        &.active,
        &:hover {
            color: $orange2;
            font-weight: bold;
        }
    }

    .navbar-nav {
        flex: 1;
        flex-direction: row;
        max-width: 570px;
    }

    .dropdown {
        font-size: 12px;
    }

    .dropdown-toggle {
        background: transparent;
        border: 0;
        border-radius: 0;
        width: 28px;
        height: 18px;
        flex: none;
        margin-right: 25px;
        position: relative;
        z-index: 2;

        span {
            background: $white;
            border-radius: 3px;
            height: 3px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transition: all .3s ease-out;
            transform: translateY(-50%);

            &::before {
                content: '';
                background: $white;
                border-radius: 3px;
                height: 3px;
                position: absolute;
                top: -8px;
                left: 0;
                right: 0;
                transition: all .3s ease-out;
            }
    
            &::after {
                content: '';
                background: $white;
                border-radius: 3px;
                height: 3px;
                position: absolute;
                top: 8px;
                left: 0;
                right: 0;
                transition: all .3s ease-out;
            }
        }

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        border: 0;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 3px 3px #00000029;
        min-width: 260px;
        margin-top: 15px;
        padding: 20px 0;

        .dropdown-item {
            color: $gray;
            font-size: 20px;
            padding-right: 44px;
            position: relative;
            text-align: right;

            &:hover,
            &.active {
                background: transparent;
                color: $orange2;
                font-weight: 700;
            }

            &:after {
                content: '•';
                position: absolute;
                top: 50%;
                right: 24px;
                transform: translateY(-50%);
            }
        }
    }

    .show {
        .dropdown-toggle {
            background-image: url(https://ouzzi.ag/assets/landing-page/up-brasil/img/nav-hover.svg);
        }
    }
}

.cta-content {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1002;

    @include media-breakpoint-up(xl) {
        height: 109px;
        max-width: 352px;
        position: relative;

        &::before {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-top: 109px solid $white;
            border-right: 15px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }

    .cta {
        background: $orange;
        color: $white!important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        padding: 12px 16px;
        transition: all .3s ease-out;
    
        img {
            transition: transform .3s ease-out;
        }
    
        @include media-breakpoint-up(xl) {
            padding: 0 108px 0 64px;
        }
    
        &:hover {
            background: $orange2;
    
            img {
                transform: translateX(50%);
            }
        }
    }
}

.banner {
    padding: 0 0 1px;
    position: relative;
}

.produto {
    padding: 48px 0 8.18vw;
    position: relative;

    @include media-breakpoint-up(md) {
        padding-top: 80px;
    }

    h2 {
        max-width: 976px;
    }

    .intro-bg-1 {
        margin-right: 130px;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
    }

    .intro-bg-2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .cta {
        background: $orange3;
        color: $white!important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        max-width: 408px;
        height: 74px;
        margin-left: auto;
        position: relative;

        &::before {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-top: 74px solid $white;
            border-right: 15px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &::after {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 74px solid $white;
            border-left: 15px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    
        img {
            transition: transform .3s ease-out;
        }
    
        &:hover {
            background: $red;
    
            img {
                transform: translateX(50%);
            }
        }
    }
}

.vantagens {
    padding: 48px 0;
    position: relative;

    .vantagens-bg-1 {
        margin-left: 24px;
        position: absolute;
        top: -94px;
        left: 100%;
    }

    .vantagens-bg-2 {
        position: absolute;
        bottom: -190px;
        left: 0;
        z-index: 2;
    }

    @include media-breakpoint-up(md) {
        padding: 80px 0;
    }

    .slider-vantagens {
        padding-bottom: 70px;

        .slick-list {
            overflow: visible;

            @include media-breakpoint-up(md) {
                overflow: hidden;
            }
        }

        .slick-slide {
            position: relative;
            z-index: 1;

            &.slick-active {
                z-index: 2;
            }
        }

        .slick-arrow {
            cursor: pointer;
            border: 1px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            position: absolute;
            bottom: -18px;
            z-index: 3;

            @media screen and (min-width: 1280px) {
                top: 50%;
                bottom: auto;
                transform: translateY(-50%);
            }

            svg {
                fill: $white;
            }

            &:hover {
                background: $white;

                svg {
                    fill: $orange2;
                }
            }

            &.slick-prev {
                left: 0;

                @media screen and (min-width: 1280px) {
                    left: -60px;
                }

                @media screen and (min-width: 1340px) {
                    left: -100px;
                }

                svg {
                    transform: scaleX(-1);
                }
            }

            &.slick-next {
                right: 0;

                @media screen and (min-width: 1280px) {
                    right: -60px;
                }

                @media screen and (min-width: 1340px) {
                    right: -100px;
                }
            }
        }

        .slick-dots {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            li {
                width: 9px;
                height: 9px;
                margin: 0 4px;
                padding: 0;

                button {
                    background: $yellow;
                    border: 0;
                    border-radius: 50%;
                    width: 9px;
                    height: 9px;
                    margin: 0;
                    padding: 0;
                    text-indent: -9999px;
                }


                &.slick-active {
                    button {
                        background: $white;
                    }
                }
            }
        }
    }

    .card-vantagens {
        display: block;
        width: 100%;
        max-width: 350px;
        height: 385px;
        margin: 0 auto;
        position: relative;

        .icon-vantagens {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 145px;

            img {
                width: auto;
                max-height: 100%;
            }
        }

        .card-content {
            background: #F8631C;
            background: linear-gradient(180deg, #F8631C 0%, $red 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            height: 385px;
            padding-top: 62px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                pointer-events: none;
                content: '';
                width: 0;
                height: 0;
                border-top: 385px solid $red;
                border-right: 30px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }

            &::after {
                pointer-events: none;
                content: '';
                width: 0;
                height: 0;
                border-bottom: 385px solid $red;
                border-left: 30px solid transparent;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
            }
        }
    }

    .cta {
        background: $white;
        color: $red!important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        max-width: 408px;
        height: 74px;
        margin: 0 auto;
        position: relative;

        &::before {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-top: 74px solid $red;
            border-right: 15px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &::after {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 74px solid $red;
            border-left: 15px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    
        img {
            transition: transform .3s ease-out;
        }
    
        &:hover {
            background: $orange5;
    
            img {
                transform: translateX(50%);
            }
        }
    }
}

.personalize {
    padding: 48px 0;
    position: relative;

    @include media-breakpoint-up(lg) {
        padding: 166px 0;
    }
}

.combinar {
    position: relative;

    .part-1 {
        padding: 24px 0;
        position: relative;

        @include media-breakpoint-up(md) {
            padding: 58px 74px 0 0;
        }

        &::before {
            content: '';
            background: $orange3;
            width: 100vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            @include media-breakpoint-up(md) {
                width: 50vw;
                left: auto;
                right: 0;
                transform: none;
            }
        }
    }

    .part-2 {
        padding: 24px 0;
        position: relative;

        @include media-breakpoint-up(md) {
            padding: 52px 0;
        }

        &::before {
            content: '';
            background: $yellow;
            width: 100vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            @include media-breakpoint-up(md) {
                width: 50vw;
                left: auto;
                right: -74px;
                transform: none;
            }
        }
    }

    .part-3 {
        padding: 24px 0;
        position: relative;

        @include media-breakpoint-up(md) {
            padding: 58px 0 0 64px;
        }

        &::before {
            content: '';
            background: $red;
            width: 100vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            @include media-breakpoint-up(md) {
                width: 50vw;
                left: 0;
                transform: none;
            }
        }
    }

    .checkbox {
        padding-left: 72px;
        position: relative;

        &::before {
            content: '✖';
            background: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 400;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 12px;
            left: 0;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 16px;
            padding-left: 52px;
            position: relative;

            &::before {
                content: '';
                background: $orange3;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 8px;
                left: 0;
            }
        }
    }

    .cta {
        background: $white;
        color: $orange3!important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 700;
        width: 100%;
        max-width: 408px;
        height: 74px;
        margin-left: auto;
        position: relative;

        &::before {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-top: 74px solid $yellow;
            border-right: 15px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        &::after {
            pointer-events: none;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 74px solid $yellow;
            border-left: 15px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
    
        img {
            transition: transform .3s ease-out;
        }
    
        &:hover {
            background: $orange5;
    
            img {
                transform: translateX(50%);
            }
        }
    }
}

.quem-somos {
    padding: 48px 0;
    position: relative;

    @include media-breakpoint-up(lg) {
        padding: 136px 0;
    }

    .confianca-bg-1 {
        margin-right: 172px;
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
    }
}

.form-section {
    padding: 48px 0;
    position: relative;
    z-index: 1001;

    @include media-breakpoint-up(md) {
        padding: 64px 0;
    }

    .confianca-bg-2 {
        position: absolute;
        top: -270px;
        right: 0;
    }

    .form-card {
        border: 1px solid $white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 20px 32px;
    }

    .form-side {
        height: 100%;
        padding: 48px 0 0;
        position: relative;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        &::before {
            content: '';
            background: $yellow4;
            position: absolute;
            top: 0;
            bottom: -48px;
            left: 0;
            right: 0;

            @include media-breakpoint-up(md) {
                top: -64px;
                bottom: -64px;
            }
        }
    }
}

footer {
    position: relative;
    z-index: 1001;

    @media screen and (min-width: 1400px) {
        padding: 0 80px;
    }
}
